<h3>{{ title }}</h3>
<div class="container">
    <form action="">
<br>

Número 1 <input type="number"[(ngModel)]="numero1" name="numero1">
<br>
Número 2 <input type="number" [(ngModel)]="numero2" name="numero2">
<br>
Resultado <input type="number"[(ngModel)]="resultado" name="resultado">
<br>
<button class="btn btn-primary" (click)="sumar()">SUMAR </button>
<button class="btn btn-primary" (click)="restar()">RESTAR</button>
<button class="btn btn-primary" (click)="multiplicar()">MULTIPLICAR </button>
<button class="btn btn-primary" (click)="dividir()">DIVIDIR</button>
</form>

</div>